/* Global Styles */
* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

.card img {
	width: 300px;
	height: 400px;
  }
  
  header {
    background-color: rgb(255, 179, 14);
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 999;
}


html {
	font-size: 16px;
	font-family: 'Lato', sans-serif;
}

body {
	background-color: #e7e7e7;
	color: #333;
	line-height: 1.5;
}

h1, h2, h3, h4, h5, h6 {
	font-weight: 700;
	margin: 1.5rem 0;
}

p {
	margin-bottom: 1.5rem;
}

a {
	color: #4d4d4d;
	text-decoration: none;
}

ul {
	list-style: none;
}

.container {
	max-width: 1100px;
	margin: 0 auto;
	padding: 0 1rem;
}

/* Navigation */
nav {
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 1rem 0;
}

.logo img {
	height: 70px;
	z-index: 1;
}

.navbar {
  position: relative;
  z-index: 2;
}

.navbar ul {
	display: flex;
}

.navbar li {
	margin-left: 2rem;
}

.navbar li:first-of-type {
	margin-left: 0;
}

.navbar a {
	padding: 0.5rem;
	transition: all 0.2s ease;
}

.navbar a:hover {
	color: #a05c5c;
}

  
/* Hero Section */
.hero {
	margin-top: 5rem;
	text-align: center;
}

.hero h1 {
	font-size: 3rem;
}

.hero p {
	font-size: 1.5rem;
	margin-bottom: 3rem;
}

/* Contact Section */
#contact {
	background-color: #fff;
	padding: 5rem 0;
}

#contact h2 {
	font-size: 2rem;
	margin-bottom: 2rem;
}

.row {
	display: flex;
	align-items: center;
	justify-content: space-between;
	flex-wrap: wrap;
}

.col {
	width: 45%;
}

@media screen and (max-width: 768px) {
	.col {
		width: 100%;
		margin-bottom: 2rem;
	}
}

form label {
	display: block;
	margin-bottom: 0.5rem;
}

form input[type="text"],
form input[type="email"],
form textarea {
	width: 100%;
	padding: 0.5rem;
	margin-bottom: 1rem;
	border: none;
	border-radius: 3px;
	background-color: #f4f4f4;
}

form input[type="submit"] {
	background-color: #a05c5c;
	color: #fff;
	padding: 0.5rem 1rem;
	border: none;
	border-radius: 3px;
	cursor: pointer;
	transition: all 0.2s ease;
}

form input[type="submit"]:hover {
	background-color: #933a3a;
}

/* Social Icons */
.social-icons {
	display: flex;
	margin-top: 1rem;
}

.social-icons li {
	margin-right: 1rem;
}

.social-icons img {
	height: 30px;
}
/* Footer */
footer {
	background-color: #333;
	color: #fff;
	padding: 1rem;
	text-align: center;
}

footer p {
	margin-bottom: 0;
}

@media screen and (max-width: 576px) {
	.container {
		padding: 0 0.5rem;
	}
}
